body {
color: black;
}

/* as long as there are still some bugs */
.shiny-output-error:before { visibility: hidden; }

body {padding-top: 70px;}

@media only screen and (max-width: 767.5px) {
	body {padding-top: 400px;}
}

#study_title{
	color: #ff4d4d;
	font-weight: bold;
}

#dataset li a[data-value='Customize Data']{color: #ff4d4d;}

#dataset li a[data-value='Analysis']{color: #ff4d4d;}

#back-button-container {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}

.nav-history-btn {
  border-radius: 50%;
  border: 0;
  color: white;
  outline: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

.navbar-nav li a {
  line-height: 45px;
}

.btn {
  white-space: normal;
  word-wrap: break-word;
}

hr {
  height: 1px;
  border: none;
  color: #333;
  background-color: #333;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: -1;
}

.context-menu--active {
  display: block;
  opacity: 1;
  z-index: 10;
  padding: 5px 0;
  width: 170px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none !important;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}

.outer {
  position: absolute;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

#sankey-div {
  overflow-y: auto;
  width: 100%;
  height: 600px;
}

.control-bar {
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 10px;
}

#dataset li a[data-value='test']{
  color: red;
}

#reload_button{
  color: white;
  float: right;
  margin-right: 25%;
  font-size: 10px;
  border-radius: 100%;
  outline: none;
  position: sticky;
}
#nav-btn-container {
  top:0;
  right:0;
  position: absolute;
  height: 100%;
}

.nav-btn {
  display: inline-block;
  color: white;
  vertical-align:middle;
  margin: 20px;
  line-height:10px;
  height: 50%;
  background-color:#2c3e50;
}

[id='._bookmark_'] {
  outline: none;
}

#github-btn {
  font-size: 40px;
}

#github-btn:hover {
  opacity:.5 !important;
}
